body {
    font-family: Arial, sans-serif;
}

.bg-teal {
    background-color: teal !important;
    color: white;
}

/* Navbar Styling */
.navbar {
    background-color: #4593A5;
    color: white;
    padding: 10px 20px;
}

.navbar.bg-teal { 
    background-color: teal !important;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
    
}

.navbar-brand img {
    height: 40px;
    width: auto;
}
/* Footer Styling */
.footer {
    background-color: #4593A5;
    color: #ccc;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.container h2, .container h3 {
    color: #005662;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: #f8f9fa;
    padding: 20px;
}

h2 {
    color: #005662;
    font-weight: bold;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #005662;
}

.card-text {
    font-size: 14px;
    color: #333;
}

.hidden-form {
    display: none;
}


footer div {
    font-size: 14px;
}

footer li a:hover {
    text-decoration: underline;
}