body {
    font-family: Arial, sans-serif;
}

.bg-teal {
    background-color: #4593A5 !important;
    color: white !important;;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.nav-link.active {
    color: white;
}

.navbar-brand, .nav-link {
    font-weight: bold;
}

.container h2, .container h3 {
    color: #005662;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: #f8f9fa;
    padding: 20px;
}

h2 {
    color: #005662;
    font-weight: bold;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #005662;
}

.card-text {
    font-size: 14px;
    color: #333;
}

.hidden-form {
    display: none;
}

footer {
    background-color: #4593A5 !important;
    color: white;
    padding: 10px 0;
}

footer div {
    font-size: 14px;
}

footer li a:hover {
    text-decoration: underline;
}